DJANGO_SECRET_KEY=replace-with-a-long-random-string
DEBUG=False
DATABASE_PATH=/data/db.sqlite3

EMAIL_HOST_PASSWORD=
EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=587
EMAIL_HOST_USER=
DEFAULT_FROM_EMAIL=LMS-Info <noreply@library.com>
